* {
  box-sizing: border-box;
}

.pageHeader {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: rgb(97, 145, 107);
}
.headWrap{
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80%;
  margin: 0 auto;
}
.logo {
  font-family: "Russo One", sans-serif;
}
